html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: normal;
  padding-left: 1rem;
}

h2 {
  font-style: italic;
  font-weight: normal;
  font-size: 1.5rem;
}

img {
  width: 100%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "banner banner banner"
    "col1   col2   col2";
  gap: .75rem;
  grid-row-gap: 1rem;
}

body {
  margin: 0;
  grid-area: column;
}

.banner-img {
  grid-area: banner;
}

.banner-text {
  color: white;
  margin: 0;
  grid-area: banner;
  padding: 1rem;
  align-self: end;
}

figure {
  margin: 0;
}

figcaption {
  padding-top: 1rem;
  padding-left: 1rem;
  font-style: italic;
  margin: 0;
  font-size: 1.5rem;
}

dl {
  padding-left: 1rem;
}
