html {
  box-sizing: border-box;
  font-family: Merriweather, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  padding: 1.5rem;
}

h1, h2, h3 {
  font-style: italic;
  font-weight: normal;
  font-style: italic;
  font-size: 1.8rem;
}

main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "column" "column" "column" ;
  gap: .75rem;
}

align-self {

}

.container {
  text-align: left;
  color: white;
}

img {
  width: 100%;
}

figure img {
  width: 100%;
}

body {
  margin: 0;
  grid-area: column;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}
